<p>card works!</p>
<!-- localization -->
<div class="card">

    <div class="card-image">
        <div style="background-image: 'url(../../../../assets/pic.png)'">
            <div class="card-image-swapper">
                <button btnIcon="10">
                    <mat-icon>
                        swap_horiz
                    </mat-icon>
                </button>
                <button class="newBtn">
                    جديد
                </button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <h4 class="product-title">تيشرت-شتوي-3-خصم</h4>
        <rating [rate]="2"></rating>

        <div class="price">
            <div [style.text-decoration]="true?'line-through':'none'" class="fixed-price">{{6 |Egy}}</div>
            <div class="discount">{{7 |Egy}}</div>
        </div>

        <product-shopping-action [isFavorite]="true"></product-shopping-action>

    </div>

    <div class="footer">

    </div>

</div>