<p>card works!</p>
<!-- localization -->
<div class="card">

    <div class="card-image">
        <div style="background-image: 'url(../../../../assets/pic.png)'">
            <div class="card-image-swapper">
                <button btnIcon="10">
                    <mat-icon>
                        swap_horiz
                    </mat-icon>
                </button>
                <button class="newBtn">
                    جديد
                </button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <h4 class="product-title">تيشرت-شتوي-3-خصم</h4>

        <div class="rating" #rating>
            <mat-icon *ngFor="let item of [].constructor(5) ;let i=index" (click)="setRating(i)">star</mat-icon>
        </div>

        <div class="price">
            <div [style.text-decoration]="true?'line-through':'none'" class="fixed-price">{{6 |Egy}}</div>
            <div class="discount">{{7 |Egy}}</div>
        </div>

        <div class="shopping">
            <button addToShoppingCart>
                <mat-icon>
                    add_shopping_cart
                </mat-icon>
                اضف الي السلة
            </button>

            <div product-action>
                <button>
                    <mat-icon share>share</mat-icon>
                </button>
                <button>
                    <!-- <mat-icon unFavorite>favorite_outline</mat-icon> -->
                    <mat-icon favorite>favorite</mat-icon>
                </button>
            </div>

        </div>

    </div>

    <div class="footer">

    </div>

</div>