@import '../../../../styles.scss';

@mixin productListGrid() {
    @include verticalCenter();
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    flex-grow: 1;
}

.caption {
    height: 50vh;
    width: 100%;
    background-image: url('../../../../assets/background-image.png');
    background-size: cover;
    background-position: center center;
    @include verticalCenter();
}


.icon {
    @include verticalCenter();
    justify-content: space-between;
    width: 100%;
    height: 40px;

    button {
        @include iconButton;
        color: $groundColor;
    }
}

section[productList] {
    overflow: hidden;

    .container {
        @include verticalCenter();
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 2px;
    }

    div[newProduct] {
        @include productListGrid();
    }

    div[lastView] {
        @include verticalCenter();
        flex-wrap: wrap;
        width: fit-content;
        max-width: 300px;
        justify-content: center;
        gap: 12px;

    }

    div[divider] {
        margin: 25px auto;
        height: 35px;
        width: 100%;
        @include verticalCenter();
        justify-content: space-between;

        &.lasView {
            justify-content: center;
        }

        P {
            @include stripper();
            font-size: $fontSizeTitle;
        }

        span[dividerLine] {
            height: 2px;
            flex-grow: 1;
            margin: auto 10px;
            background-color: $dividerGray;
        }

        button {
            font-size: $fontSizeTitle;
            color: $primaryColor;
            border-color: $primaryColor;
        }
    }

    div[chip] {
        margin: 25px auto;
        height: 35px;

        @include verticalCenter();
        justify-content: center;
        gap: 5px;

        button {
            @include iconButton();
            background-color: $startOff ;
            font-size: $fontSizeCaption ;
            padding: 8px 20px;
            border-radius: 15px;
            transition: all .3s;
        }
    }

    .active-chip {
        background-color: tomato;
        color: white;
    }
}

div[swap] {
    @include productListGrid();


}

@media only screen and (max-width: 1015px) and (min-width: 900px) {
    div[lastView] {
        max-width: 250px !important;
    }


}
